@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --my-color-gris: white;
    --my-color-gri: gray;
    --my-color-blue: blue;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--my-color-gris);
}

.entete {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: var(--my-color-gri);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b {
    font-size: 70px;
    color: var(--my-color-blue);
}

.logo span {
    color: var(--my-color-blue);
}

.menu {
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    font-size: 25px;
    letter-spacing: 3px;
    color: var(--my-color-gri);
    text-transform: capitalize;
}

.menu li:hover a {
    color: var(--my-color-blue);
}

.corps {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.cgauche,
.cdroite {
    width: 50%;
}

.cgauche {
    z-index: 5;

}

.textB {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 4px;
    color: var(--my-color-gri);
}

.textB::after {
    height: 4px;
    width: 35px;
    position: absolute;
    content: '';
    bottom: 10px;
    background-color: var(--my-color-blue);
}

h1 {
    display: block;
    font-size: 3em;
    font-weight: 800;
    color: var(--my-color-gri);
}

p {
    display: block;
    font-size: 1.1em;
    width: 90%;
    text-align: justify;
    color: var(--my-color-gri);

}

.buton {
    position: relative;
    width: 100%;
    left: 50px;
}

button {
    font-size: 25px;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    background-color: var(--my-color-gri);
    color: white;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);

}

button:hover {
    background-color: var(--my-color-blue);
}

.grpimg {
    position: relative;
    width: 100%;
    height: 100%;
}

.grpimg img {
    position: relative;
    width: calc(105%);
    height: 100%;
    right: -25px;
    top: 5px;
    animation: animateImg 5s linear infinite;
}

@keyframes animateImg {
    50% {
        right: 10px;
        top: 15px;
    }

}

.grpimg #splah {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
    filter: saturate(200%);
    width: 160%;
    animation: animatesplah 5s linear infinite;
}

@keyframes animatesplah {
    50% {
        right: 37%;
        top: 60%px;
        width: 155%;
    }

}

.cdroite {}